.vega-bindings {
  display: flex; /* horizontal layout */
  gap: 20px; /* space between sliders */
  font-family: Arial;
  position: absolute; /* position relative to #vis */
  bottom: 780px; /* move below chart, adjust as needed */
  left: 20%; /* center horizontally */
  transform: translateX(-50%);
  z-index: 10; /* above chart */
  padding-bottom: 20px;
}

#vg-tooltip-element.vg-tooltip.custom-theme {
  color: black;
  font-size: 14;
  font-family: Arial;
}
